<!DOCTYPE html>
<html>
    <head>
        <title>Valerie's Info Page</title>
    </head>
    <body>
        <h1>Valerie's Info Page</h1>
        <p>This is the info page: I am a 48 year old woman</p>
        <p>who is spending a lot of time coding.</p>
    </body>
</html>